:root, :before, :after{
  --sitepadding-left:240px; 
  --sitepadding-top:80px; 
}



.formbase-field{height:var(--action-size);}
textarea.formbase-field{padding:var(--size-3); height:auto; min-height:144px;}
.formbase-field-select{position:relative; z-index:1000;}
.formbase-field + .svgicon{position:absolute; top:var(--size-4); right:var(--size-3); width:auto; height:var(--size-2);}



header, nav{position:fixed; top:0; left:0;}
header{--thumb-height:40px; z-index:calc(var(--max-zindex) - 4000); width:100%; padding-left:var(--sitepadding-left);}
.header-container{display:flex; justify-content:space-between;}
.header-left, .header-right{display:flex;}
.header-box{padding:0 var(--size-2); height:var(--sitepadding-top);}
.header-right .header-box:last-child{padding-right:var(--size-5);}
.header-title{padding-left:var(--size-5);}
.header-title-wording{font-size:var(--fontsize-title); font-weight:800;}
.header-notif{position:relative;}
.header-notif-box, .hub-image-frame{width:var(--thumb-height); height:var(--thumb-height); border:1px solid;}
.header-notif-box{position:relative;}
.header-notif-box .svgicon{width:auto; height:var(--size-3);}
.header-notif-circle{position:absolute; top:var(--size-1); right:var(--size-1); width:var(--size-2); height:var(--size-2);}
.header-notif-show .header-notif-circle{display:block;}
.header-user{position:relative;}
.header-user-box{display:grid; grid-template-columns:var(--thumb-height) 1fr; grid-gap:var(--size-2); align-items:center;}
.hub-title{font-weight:400;}



nav{z-index:calc(var(--max-zindex) - 3000); width:var(--sitepadding-left); height:100vh; height:100svh;
display:flex; flex-wrap:wrap; align-content:flex-start;}
nav > *{width:100%;}
.main-logo{padding:var(--size-4);}
.main-logo img{position:relative; width:auto; height:var(--size-6);}
.nav-list{--icon-size:16px;}
.nav-link{display:grid; grid-template-columns:auto 1fr auto; align-items:center; padding:var(--size-1) 0;}
.nav-link > *{padding:var(--size-2);}
.nav-link a{font-weight:400;}
.nav-curr a{font-weight:600;}
.nav-link-icon{padding-left:var(--size-4); border-left:var(--size-1) solid;}
.nav-link-toggle{padding-right:var(--size-4);}
.nav-link-icon .svgicon{width:var(--icon-size); height:auto; position:relative; top:2px;}
.nav-link-toggle{width:var(--size-5); padding-left:0; display:flex; align-items:flex-start;}
.nav-link-toggle .svgicon{width:auto; height:var(--size-1);}
.nav-link-open .svgicon{transform:rotate(-180deg);}
.nav-sub{padding-left:calc(var(--size-3) * 2); display:none;}
.nav-sub .nav-link-icon .svgicon{width:var(--fontsize-base);}



.rancak-container{margin-left:var(--sitepadding-left); margin-top:var(--sitepadding-top); padding:var(--size-5); 
width:calc(100% - var(--sitepadding-left)); min-height:calc(100vh - var(--sitepadding-top)); min-height:calc(100svh - var(--sitepadding-top)); 
display:grid; grid-gap:var(--size-6); grid-auto-rows:min-content;}



.search-box{position:relative;}
.search-box .svgicon{position:absolute; z-index:1; left:var(--size-4); top:17px; width:auto; height:var(--fontsize-regular);}
.search-field{height:var(--action-size); position:relative; z-index:1000; background-color:transparent; border:1px solid; width:377px;
padding-left:calc(var(--size-5) + var(--size-2)); padding-right:var(--size-4);}
@media screen and (max-width:1200px){
  .search-field{max-width:233px;}
}



.white-box{padding:var(--size-2);}



.main-carousel{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}
.main-carousel .tns-outer{width:100%;}
.main-carousel .tns-nav-active{width:var(--size-5) !important;}
.main-carousel .slide-button{height:calc(100% - var(--size-6));}
.main-carousel .slide-button svg{height:var(--size-5);}
.main-carousel .main-slide-thumb{--aspect-ratio:16/9;}



.table-default{display:grid; grid-gap:var(--size-3);}
.table-default-warning{text-align:right; font-size:10px;}
.table-default-head, .tdh-left, .tdh-right{display:flex;}
.table-default-head{justify-content:space-between; align-items:center;}
.tdh-box{margin-left:var(--size-2); position:relative;}

.table-default-box{display:table;}
.tdb-row{position:relative; display:table-row;}
.tdb-row:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:1px;}
.tdb-head{font-weight:600;}
.tdb-head:after{content:none;}
.tdb-column{display:table-cell; padding:var(--size-3);}
.tdb-column-phone{width:115px;}
.tdb-column-postalcode{width:50px;}
.tdb-column-action{padding:0;}
.tdb-ca-button .svgicon{width:var(--size-3); height:var(--size-3); position:relative;}
.tdb-ca-button .svgicon-edit{top:2px;}
.tdb-ca-button .svgicon-down{top:3px;}
.tdb-ca-button .svgicon-right{top:2px;}
.tdb-ca-button{padding:var(--size-2);}

.table-default-foot, .table-default-foot > *{display:flex;}
.table-default-foot{justify-content:space-between;}
.tdf-pagination{display:flex; align-items:center;}
.tdf-pagination-choose{margin:0 var(--size-2); position:relative;}
.tdf-pagination-choose .svgicon{position:absolute; top:22px; right:var(--size-3); width:auto; height:var(--size-1);}
.tdf-pagination-select, .tdf-pagination-jump, .tdf-button{height:var(--action-size);}
.tdf-pagination-select{padding-right:var(--size-5); position:relative; z-index:1000;}
.tdf-pagination-jump{width:60px; text-align:center;}
.tdf-pagination-info{margin-right:var(--size-3);}
.tdf-button .svgicon{width:auto; height:var(--size-3);}



.input-data, .ticket-status{font-size:var(--fontsize-regular);}
.input-data-box{padding:var(--size-4);}
.idb-list{display:grid; grid-gap:var(--size-4);}
.idb-row{display:grid; grid-template-columns:233px 1fr;}
.idb-form .idb-label{padding-top:var(--size-3);}
.idb-detail{grid-gap:var(--size-3);}
.idb-detail .idb-row{padding-bottom:var(--size-3); border-bottom:1px dashed;}
.idb-multiple{display:grid; grid-gap:var(--size-2);}
.idb-multiple .formbase .svgicon{position:absolute; top:16px; left:16px; width:16px; height:16px;}
.idb-multiple .formbase-field{padding-left:var(--action-size);}
.idb-additional{display:grid; grid-gap:var(--size-3);}
.idb-additional-row{position:relative;}
.idb-additional-real{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.idb-additional-dummy{position:relative; z-index:1; display:grid; grid-template-columns:320px var(--size-6); align-items:center;}
.idb-additional-indicator{position:relative; height:23px;}
.idb-additional-circle{position:absolute; top:var(--size-1); left:var(--size-1); width:var(--size-3); height:var(--size-3);}
.idb-additional-real:checked + .idb-additional-dummy .idb-additional-circle{left:38px;}
.input-data-action{display:flex; margin-top:var(--size-3);}
.input-data-action .btn{margin-right:var(--size-3);}



.ticket-status{display:grid; grid-gap:var(--size-3); grid-template-columns:1fr 300px;}
.ticket-status-title{font-weight:800; margin-bottom:var(--size-4);}
.ticket-status-track{padding:var(--size-4);}
.tst-list, .tst-step{display:grid;}
.tst-step{grid-template-columns:var(--size-5) 1fr; grid-gap:var(--size-2);}
.tst-line{position:relative;}
.tst-line-inside{width:var(--size-1); height:var(--size-4);}
.tst-icon{position:absolute; z-index:1000; top:calc(var(--size-1) * -1); left:0; width:100%;}
.tst-icon .svgicon{width:auto; height:var(--size-3);}
.tst-circle, .tst-circle-inside{border:var(--size-1) solid; width:100%;}
.tst-circle-inside:before{content:''; display:block; padding-top:100%;}
.tst-right{display:flex; align-items:center;}
.tst-label{font-weight:600;}
.tst-date{font-size:10px;}



footer{padding:var(--size-4); margin-top:auto; font-size:10px;}
