.header-container, nav{background-color:var(--bg-2);}
.header-container{box-shadow:var(--shadow-default);}
.header-title-wording{color:var(--color-text-2);}
.header-notif-box, .hub-image-frame{border-radius:var(--rounded-1); background-color:var(--bg-1); border-color:var(--color-border);}
.header-notif-box{transition:var(--transition-default);}
.header-notif-circle{border-radius:50%; background-color:var(--color-text-4);}
.header-notif:hover .header-notif-box{border-color:var(--color-text-5);}
.header-notif:hover .header-notif-circle{background-color:var(--color-text-5);}
.hub-image-frame{overflow:hidden;}
.hub-title{color:var(--color-text-1);}



nav{box-shadow:#E4E8FF 0px 94px 21px;}
nav::-webkit-scrollbar{width:var(--size-2);}
nav::-webkit-scrollbar-track, nav::-webkit-scrollbar-thumb{background:0;}
nav:hover::-webkit-scrollbar-track{background:var(--color-text-3);}
nav:hover::-webkit-scrollbar-thumb{background:var(--color-text-1);}
nav::-webkit-scrollbar-thumb:hover{background:var(--color-text-5);}
.main-logo:hover{filter:grayscale(100%);}
.nav-link a, .nav-link button{color:var(--color-text-1); fill:var(--color-text-1); border-color:var(--bg-2);}
.nav-link:hover a, .nav-link:hover button{color:var(--color-text-5); fill:var(--color-text-5); border-color:var(--color-text-5);}
.nav-link-toggle .svgicon{transition:var(--transition-default);}
.nav-curr a, .nav-curr button{color:var(--color-text-4) !important; fill:var(--color-text-4) !important; border-color:var(--color-text-4) !important;}



.rancak-container{background-color:var(--bg-1);}



.main-carousel .tns-nav [aria-controls], 
.main-carousel .tns-nav [data-action]{background-color:var(--color-text-3);}
.main-carousel .tns-nav [aria-controls]:hover, 
.main-carousel .tns-nav [data-action]:hover{background-color:var(--color-text-5);}
.main-carousel .tns-nav-active{background-color:var(--color-text-4) !important;}
.main-carousel .tns-ovh{border-radius:var(--rounded-2);}
.main-carousel .slide-button{fill:var(--bg-2); opacity:0.55;}
.main-carousel .slide-button:hover{fill:var(--color-text-5); opacity:1;}