.formbase-field{border-radius:var(--rounded-1);}
.formbase-field + .svgicon{fill:var(--color-text-3);}



.header-container, nav{background-color:var(--bg-2);}
.header-container{box-shadow:var(--shadow-default);}
.header-title-wording{color:var(--color-text-2);}

.header-notif-box, .hub-image-frame{border-radius:var(--rounded-1); background-color:var(--bg-1); border-color:var(--color-border);}
.header-notif-box{transition:var(--transition-default);}
.header-notif-circle{border-radius:50%; background-color:var(--color-text-4); transition:var(--transition-default);}
.header-notif:hover .header-notif-box{border-color:var(--color-text-5); fill:var(--color-text-5);}
.header-notif:hover .header-notif-circle{background-color:var(--color-text-5);}
.header-notif:hover .header-notif-popup{display:block;}
.header-notif-popup{position:absolute; top:64px; right:var(--size-2); background-color:var(--bg-2); box-shadow:var(--shadow-default); 
border-radius:var(--rounded-1); width:233px; height:90vh; max-height:377px; overflow-y:auto; padding:var(--size-3);}
.hnp-label{font-weight:800; color:var(--color-text-2); font-size:var(--fontsize-regular);}
.hnp-row{display:grid; grid-template-columns:var(--size-4) 1fr; grid-gap:var(--size-3); padding:var(--size-3) 0; 
border-top:1px dashed var(--color-text-3); fill:var(--color-text-1);}
.hnp-row:first-child{border-top:0;}
.hnp-row .svgicon{width:100%; height:auto; position:relative; top:4px;}
.hnp-date{font-weight:400; font-size:10px; margin-top:var(--size-1); color:var(--color-text-1);}


.hub-image-frame{overflow:hidden;}
.hub-title{color:var(--color-text-1);}



nav{box-shadow:#E4E8FF 0px 94px 21px;}
.main-logo:hover{filter:grayscale(100%);}
.nav-link a, .nav-link button{color:var(--color-text-1); fill:var(--color-text-1); border-color:var(--bg-2);}
.nav-link:hover a, .nav-link:hover button{color:var(--color-text-5); fill:var(--color-text-5); border-color:var(--color-text-5);}
.nav-link-toggle .svgicon{transition:var(--transition-default);}
.nav-curr a, .nav-curr button{color:var(--color-text-4) !important; fill:var(--color-text-4) !important; border-color:var(--color-text-4) !important;}



.rancak-container{background-color:var(--bg-1);}



.search-box, .search-field{border-radius:var(--rounded-1);}
.search-box{background-color:var(--bg-2);}
.search-box .svgicon{fill:var(--color-text-4);}
.search-field{border-color:var(--color-border);}



.white-box{background-color:var(--bg-2); box-shadow:var(--shadow-default); border-radius:var(--rounded-1);}



.main-carousel .tns-nav [aria-controls], 
.main-carousel .tns-nav [data-action]{background-color:var(--color-text-3);}
.main-carousel .tns-nav [aria-controls]:hover, 
.main-carousel .tns-nav [data-action]:hover{background-color:var(--color-text-5);}
.main-carousel .tns-nav-active{background-color:var(--color-text-4) !important;}
.main-carousel .tns-ovh{border-radius:var(--rounded-1);}
.main-carousel .slide-button{fill:var(--bg-2); opacity:0.55;}
.main-carousel .slide-button:hover{fill:var(--color-text-5); opacity:1;}



.popup-filter{display:grid; grid-gap:var(--size-2);}



.tdb-row:nth-of-type(odd){background-color:var(--bg-1); transition:var(--transition-default);}
.tdb-row:hover{background-color:var(--color-text-5); color:var(--bg-2);}
.tdb-row:hover .tdb-ca-button{fill:var(--bg-2);}
.tdb-ca-button:hover{fill:var(--color-text-2) !important;}
.tdb-row:after{background-color:var(--color-border);}
.tdb-head{background-color:var(--bg-2) !important; color:var(--color-text-2) !important;}
.tdb-head:after{background-color:var(--color-text-3);}

.tdf-pagination-choose, .tdf-pagination-select, .tdf-pagination-jump{border-radius:var(--rounded-1);}
.tdf-pagination-choose{background-color:var(--bg-2);}



.idb-multiple .formbase .svgicon{fill:var(--color-text-3);}
.idb-info, .idb-info .formbase-field{color:var(--color-text-2);}
.idb-additional-indicator, .idb-additional-circle{transition:var(--transition-default);}
.idb-additional-indicator{background-color:var(--color-border); border-radius:var(--size-4); transition:var(--transition-default);}
.idb-additional-circle{background-color:var(--color-text-1); border-radius:var(--size-3); transition:all 0.55s;}
.idb-additional-real:hover + .idb-additional-dummy .idb-additional-circle{background-color:var(--color-text-2);}
.idb-additional-real:checked + .idb-additional-dummy .idb-additional-indicator{background-color:var(--color-text-4); border-color:var(--color-text-4);}
.idb-additional-real:checked + .idb-additional-dummy .idb-additional-circle{background-color:var(--bg-1);}
.input-data-action .ida-reset{background-color:var(--color-border); color:var(--color-text-1) !important;}
.input-data-action .ida-reset:hover{background-color:var(--color-text-3);}



.ticket-status-title{color:var(--color-text-2);}
.tst-icon .color-1{fill:var(--color-status);}
.tst-icon .color-2{fill:var(--bg-1);}
.tst-line-inside{background-color:var(--color-status);}
.tst-circle, .tst-circle-inside{border-radius:50%; background-color:transparent !important;}
.tst-circle{border-color:var(--bg-2);}
.tst-circle-inside{border-color:var(--color-status);}
.tst-date{color:var(--color-text-3);}
.tst-label{color:var(--color-status);}
.tst-step:first-child .tst-icon{display:none;}

.tst-done{--color-status:var(--color-text-1);}
.tst-onprogress{--color-status:var(--color-text-7);}
.tst-notstarted{--color-status:var(--color-text-3);}



.rancak-popup-right .rancak-popup-container{padding:0; justify-content:flex-end;}
.rancak-popup-right .rancak-popup-box{border-radius:0; height:100vh; height:100svh; max-width:377px; max-height:none; padding-right:var(--size-6);}
.rancak-popup-right .rancak-popup-close{position:fixed; z-index:1000; top:0; right:0; padding:0; width:var(--size-6); height:var(--size-6);}
.rancak-popup-right .rancak-popup-close .svgicon{width:auto; height:var(--size-4);}
.rancak-popup-right .rpc-doc-img{margin-bottom:var(--size-5);}
.rancak-popup-right .rpc-doc-img img{position:relative; height:auto;}

.rpc-detail-data{display:grid; grid-gap:var(--size-3);}
.rpc-detail-data > li{padding-bottom:var(--size-3); border-bottom:1px dashed var(--color-text-3);}
.rpc-detail-label{font-size:var(--fontsize-base); margin-bottom:var(--size-1);}
.rpc-detail-info{font-weight:600; color:var(--color-text-2);}

.rancak-popup-small{position:absolute; top:var(--size-6); right:0; height:auto; width:233px;}
.rancak-popup-small-2{width:377px;}
.rancak-popup-small .rancak-popup-overlay{position:fixed; background-color:transparent;}
.rancak-popup-small .rancak-popup-container{position:static; padding:0;}
