:root, :before, :after{
  --bg-header:#1d1b1e;
  --color-1:#333333; 
  --color-1a:rgb(51 51 51 / 8%);
  --color-2:#0E0E0E;
  --color-2a:rgb(14 14 14 / 8%);
  --color-3:#00eeff; 
  --color-3a:rgb(0 238 255 / 8%);
  --color-border:#EEEEEE;
  --color-border-form:#E0E0E0;
  --color-fb:#1877f2;
  --color-tw:#000000;
  --color-ig: #E1306C;
  --color-tk:#000000;
  --color-yt: #f60029;
  --color-ln: #0a66c2;
  --color-wa:#2bb240;
  --color-tg:#0088cc;
  --color-ml: #d59900;
  --hover-opacity:34%;
  --transition-default:all 0.34s;
  --shadow-default:2px 5px 13px rgb(0 0 0 / 8%);
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-1);}
html{background-color:var(--bg-1);}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-2); fill:var(--color-2);}
a:hover, button:hover{color:var(--color-1); fill:var(--color-1);}
.btn, a.btn, button.btn{background-color:var(--color-2); color:var(--bg-1); fill:var(--bg-1);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-1);}
.btn-outline{border:2px solid var(--color-2); color:var(--color-2); fill:var(--color-2); background-color:transparent;}
.btn-outline:hover{border:2px solid var(--color-1);}

.form-box{background-color:var(--bg-1); border-radius:var(--rounded-1);}
.form-field{border-color:var(--color-border-form); background-color:transparent; border-radius:var(--rounded-1);}
.form-icon{background-color:var(--bg-1); border-radius:var(--rounded-1); fill:var(--color-1);}

.ccr-dummy-frame{border-color:var(--color-border-form); border-radius:4px;}
.ccr-dummy-frame, .ccr-dummy-frame svg, .ccr-dummy-right{transition:var(--transition-default);}
.ccr-real:hover + .ccr-dummy .ccr-dummy-frame{border-color:var(--color-3);}
.ccr-real:checked + .ccr-dummy .ccr-dummy-frame{border-color:var(--color-4); background-color:var(--color-4); fill:var(--bg-1);}
.ccr-real:checked + .ccr-dummy .ccr-dummy-frame svg{height:0.6rem; opacity:1;}
.ccr-real:checked + .ccr-dummy .ccr-dummy-right{color:var(--color-4); font-weight:bold;}



a.img-frame:hover{opacity:var(--hover-opacity);}
.img-frame > img{transition:var(--transition-default);}
.img-frame > img.lazyloaded, .img-frame > iframe.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.section-dark{color:var(--bg-1); background-color:var(--color-3);}
.section-title{color:var(--color-2);}
.section-dark .section-title{color:var(--bg-1);}



header{background-color:var(--bg-header);}
.header-logo{fill:var(--bg-1);}
.header-logo:hover{fill:var(--color-3);}
.header-toggle-menu svg{transition:var(--transition-default); fill:var(--bg-1);}



nav{z-index:calc(var(--max-zindex) - 2000); padding-top:var(--header-height); background-color:var(--bg-header); color:var(--bg-1);}
nav .site-container{ margin:0 auto; padding:0 var(--body-padding);}
.main-nav-link{display:flex; gap:var(--size-2); width:100%; padding:var(--size-4) 0; color:var(--bg-1); font-size:1.25rem; text-transform:uppercase; opacity:55%; font-weight:normal;}
.main-nav-link span{color:var(--color-3);}
.main-nav-link:hover, .main-nav-curr{opacity:100%;}
.main-start-project-link{display:flex; color:var(--bg-1); fill:var(--color-3); margin-top:var(--size-5);}
.main-start-project-link svg{margin-left:var(--size-3); width:auto; height:1rem;}



.highlight-A-more{fill:var(--bg-1);}
.highlight-A-more:hover{fill:var(--color-3);}



.content-B-info-title{color:var(--color-2);}



footer .site-container{display:grid; grid-gap:var(--size-4) var(--size-7);}
.footer-nav, .footer-socmed{display:flex;  align-items:center; gap:var(--size-4);}
.footer-nav-link{font-weight:normal;}
.footer-socmed-button{line-height:0; fill:var(--color-2);}
.footer-socmed-button svg{width:auto; height:var(--size-4);}



.rancak-popup, .rancak-popup-overlay, .rancak-popup-container{top:0; left:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:calc(var(--max-zindex) - 3000);}
.rancak-popup-container{position:relative; z-index:1000; padding:var(--body-padding);}
.rancak-popup-overlay{position:absolute; z-index:2000; background-color:var(--color-2); opacity:34%;}
.rancak-popup-box{position:relative; z-index:3000; width:100%; max-width:610px; max-height:100%; padding:var(--body-padding); background-color:var(--bg-1);
border:1px solid var(--color-border); border-radius:var(--rounded-2); box-shadow:var(--shadow-default); overflow:hidden; overflow-y:auto;}
.rancak-popup-close{--button-size:var(--size-5); position:absolute; z-index:2000; color:var(--color-4);
top:calc(var(--button-size) / 3 * -1); right:calc(var(--button-size) / 3 * -1);}
.rancak-popup-close:hover{color:var(--color-2);}
.rancak-popup-close svg{width:var(--button-size); height:auto;}







@media screen and (min-width:0px) and (max-width:1023px){
  .footer-copyright{text-align:center;}
  .footer-nav, .footer-socmed{justify-content:center;}
}







@media screen and (min-width:1024px){
  .main-nav-link{font-size:2rem;}
  
  
  
  footer .site-container{grid-template-columns:auto 1fr auto;}
}
