:root, :before, :after{
  --body-padding:var(--size-5);
  --header-height:var(--size-7);
  --section-space:var(--size-7);
}



.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}



.highlight-A-box{grid-gap:var(--size-5);}
.highlight-A-title{font-size:4rem; line-height:110%;}



.content-A .site-container{grid-template-columns:480px 1fr; align-items:center;}
.content-A-invert .site-container{grid-template-columns:1fr 480px;}
.content-A-invert .site-container > *{grid-row:1/2;}
.content-A-invert .content-A-image{grid-column:2/3; display:flex; justify-content:flex-end;}
.content-A-invert .content-A-frame-front{padding-left:0; padding-right:30%}
.content-A-invert .content-A-info{grid-column:1/2;}



.content-C .site-container{display:grid; grid-template-columns:repeat(3,1fr);}
.content-C-info{font-size:1.5rem; grid-column:2/4;}



.content-D .site-container{grid-template-columns:repeat(3,1fr);}



.next-step .content-D-column:first-child{grid-row:1/3;}







@media screen and (min-width:1280px){
  .content-A .site-container{grid-template-columns:520px 1fr;}
}







@media screen and (min-width:1360px){
  .content-A .site-container{grid-template-columns:560px 1fr;}
}







@media screen and (min-width:1400px){
  
}