*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content-center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --size-8:144px;
  --max-zindex:2147483648;
  --font-size:16px;
  --bg-1:#FFFFFF;
  --width-max:1265px;
  --body-padding:var(--size-5);
  --header-height:var(--size-7);
  --section-space:var(--size-6);
}



body, html{font-family:'Montserrat',sans-serif; font-size:var(--font-size); font-weight:normal; font-optical-sizing:auto; font-style:normal; letter-spacing:0.21px; 
font-feature-settings:'lnum' 1; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html, body{background-color:var(--bg-1);}
html{scroll-behavior:smooth; min-height:100vh;}
body{overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn, .btn-outline{padding:var(--size-4) var(--size-5); font-weight:normal; -webkit-appearance:none; text-transform:uppercase; letter-spacing:1px;
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}

.form-box{position:relative;}
.form-field{padding:var(--size-3) var(--size-4); border:1px solid; width:100%;}
textarea.form-field{min-height:144px;}
.form-icon{position:absolute; top:1px; right:1px; height:calc(100% - 2px); padding:0 var(--size-4);}
.form-search .form-field, .form-select .form-field{padding-right:var(--size-6);}
.form-search .form-icon, .form-select .form-field{z-index:1000;}
.form-select .form-field{position:relative;}

.custom-checkbox-radiobutton{position:relative; padding:var(--size-2) 0;}
.ccr-real{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.ccr-dummy{position:relative; z-index:1; display:grid; grid-gap:var(--size-3); grid-template-columns:auto 1fr;}
.ccr-dummy-frame{border:1px solid; width:var(--size-4); height:var(--size-4);}
.ccr-dummy-frame svg{width:auto; height:0; opacity:0;}
.ccr-dummy-right{line-height:150%; display:flex; align-items:center; width:100%;}



.img-frame{display:block; overflow:hidden; position:relative; line-height:0;}
.img-frame:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.img-frame img, .img-frame iframe{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover; opacity:0;}
.img-frame img:not([src]){visibility:hidden;}




.site-container{width:100%; max-width:var(--width-max); padding:var(--section-space) var(--body-padding);}
.space-top-2x .site-container{padding-top:calc(var(--section-space) * 2);}
.space-bottom-2x .site-container{padding-bottom:calc(var(--section-space) * 2);}
.section-title{font-size:1.25rem; line-height:150%; text-transform:uppercase; margin-bottom:var(--size-4);}



header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 1000); top:0;}
header .site-container{padding:0; display:flex; justify-content:space-between;}
.header-box{padding:0 var(--size-3); height:var(--header-height);}
.header-logo{padding-left:var(--body-padding);}
.header-logo svg, .header-toggle-menu svg{width:auto;}
.header-logo svg{height:var(--size-3);}
.header-toggle-menu{padding-right:var(--body-padding);}
.header-toggle-menu svg{height:var(--size-4);}
.open-sticky .svgicon-menu{width:25.94px;}
.open-sticky .svgicon-close, .show-sticky .svgicon-menu{width:0;}
.show-sticky .svgicon-close{width:var(--size-4);}



.highlight-A{position:relative;}
.highlight-A-bg{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%;}
.highlight-A .site-container{position:relative; z-index:1000; min-height:calc(100vh - var(--header-height)); min-height:calc(100svh - var(--header-height)); display:flex; align-items:center;}
.highlight-A-box{display:grid; grid-gap:var(--size-4); max-width:500px;}
.highlight-A-title{font-size:3.25rem; line-height:120%; font-weight:700;}
.highlight-A-desc{font-size:1.125rem; line-height:150%;}
.highlight-A-more svg{width:auto; height:var(--size-5);}



.highlight-B-frame{--aspect-ratio:2000/773;}



.content-A-info, .content-B-info{display:grid; grid-gap:var(--size-4);}
.content-A-info-intro, .content-B-info-intro, .content-D-type-3{font-size:0.75rem; line-height:150%; letter-spacing:1px; font-weight:500; text-transform:uppercase;}
.content-A-info-title, .content-B-info-title, .content-D-title{font-size:2.25rem; line-height:140%; font-weight:bold; text-transform:uppercase;}
.content-A-info-desc, .content-B-info-desc, .content-D-type-4{line-height:160%;}



.content-A .site-container{display:grid; grid-gap:var(--size-5) var(--size-7);}
.content-A-image{position:relative;}
.content-A-frame-back{--aspect-ratio:9/16; position:relative; z-index:1; width:60%;}
.content-A-frame-front{--aspect-ratio:4/3; position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; padding-left:30%;}
.content-A-frame-front-container{width:100%;}



.content-B-info{max-width:500px;}
.content-B-info *{text-align:center;}



.content-C-info{font-size:1.25rem; line-height:150%;}



.content-D .site-container{display:grid; grid-gap:var(--size-6) var(--size-7);}
.content-D-column{display:grid; grid-gap:var(--size-3); grid-auto-rows:min-content;}
.content-D-type-2{font-size:1.25rem; font-weight:bold; line-height:140%;}
.content-D-action{display:flex; margin-top:var(--size-2);}



.product-A-frame{--aspect-ratio:9/16;}
.product-A-list{display:grid; grid-gap:var(--size-6) var(--size-5); grid-template-columns:repeat(auto-fit, minmax(240px,1fr)); }
.product-A-info{display:grid; grid-gap:var(--size-1); font-weight:normal; padding-top:var(--size-3);}
.product-A-info-name{text-transform:uppercase; font-weight:600;}
.product-A-info-desc{font-size:0.75rem; line-height:150%;}







@media screen and (min-width:0px) and (max-width:1023px){
  :root, :before, :after{
    
  }
  
  
  
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
}