*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;font-display:swap;src:url(JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;font-display:swap;src:url(JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:'Montserrat';font-style:normal;font-weight:900;font-display:swap;src:url(JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}



:root, :before, :after{
  --site-container:987px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:var(--size-4);
  --bg-1:#212121;
  --color-1:#BDBDBD;
  --color-2:#FFFFFF;
  --color-3:#C80C2C;
  --color-4:#7A0000;
}



body, html{font-family:'Montserrat',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.3px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1); color:var(--color-1);}
body{overflow-x:hidden; min-height:100vh;}
a, button{transition:all 0.34s; cursor:pointer; font-weight:bold;}



.box-content{position:relative; z-index:1000; padding:var(--size-5); width:100%; display:grid; grid-gap:var(--size-5);}
.logo svg{width:auto; height:var(--size-5); opacity:89%;}
.logo svg path{fill:var(--color-2);}
.hasil-undian{text-align:center; color:var(--color-2); font-weight:bold; text-transform:uppercase; font-size:64px;}
.hasil-undian.pemenang{color:var(--color-3);}
.mulai-undian{padding:0 var(--size-5); background-color:var(--color-3); color:var(--color-2); height:var(--size-6); border-radius:var(--size-6);}
.mulai-undian:hover{background-color:var(--color-4);}
.mulai-undian.selesai{background-color:#1A1A1A !important;}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
}





@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
}
