:root, :before, :after{
  --font-size:16px;
  --body-padding:var(--size-5);
  --header-height:var(--size-7);
}



.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}



.site-container{padding-top:var(--size-7); padding-bottom:var(--size-7);}



.header-logo svg{height:var(--size-6);}
.header-lang{padding-right:var(--body-padding);}
.header-center{display:flex !important; align-items:center; position:static !important;}



.main-nav{display:flex;}
.nav-curr{border:1px solid;}



.section-separator svg{height:var(--size-6);}



.home-about-box{--padding-frame:var(--size-5); grid-template-columns:377px 1fr;}
.home-about .site-container{grid-gap:var(--size-7);}
.hab-info-container{grid-gap:var(--size-3);}
.hab-title{font-size:2.25rem;}

.hab-right{grid-template-columns:1fr 377px;}
.hab-right *{text-align:right;}
.hab-right .hab-inf0, .hab-right .hab-image{grid-row:1/2;}
.hab-right .hab-info{grid-column:1/2;}
.hab-right .hab-image{grid-column:2/3;}
.hab-right .more{justify-content:flex-end;}



.home-product .site-container{padding:144px var(--body-padding);}
.hpl-container{grid-template-columns:repeat(3,1fr);}



.distribution-data{grid-template-columns:repeat(3,1fr);}
.warehouse-slider{margin-top:var(--size-7);}
.wsc-box{grid-template-columns:1fr 1fr;}
.wsc-image, .wsc-info{grid-row:1/2;}
.wsc-image{grid-column:2/3;}
.wsc-info{grid-column:1/2;}
.wsc-info-container{grid-gap:var(--size-1);}



.home-importer .site-container{padding:144px var(--body-padding);}
.hil-container{display:flex; justify-content:center; flex-wrap:wrap; gap:var(--size-3);}
.hil-column{width:calc(25% - var(--size-3));}
.hil-overlay-info{grid-gap:var(--size-3);}
.hil-overlay-icon svg{height:2rem;}
.hil-overlay-name{font-size:1.5rem;}



.hbl-container{grid-template-columns:repeat(5,1fr);}
.hbl-logo{padding:var(--size-4);}



.news-list{grid-template-columns:repeat(auto-fit, minmax(220px,1fr));}
.news-info{padding:var(--size-4); align-items:flex-start;}







@media screen and (min-width:1280px){
  .main-location-info{padding:var(--size-6);}
}







@media screen and (min-width:1360px){
  .main-location-info{padding:var(--size-7);}
}







@media screen and (min-width:1400px){
  
}