:root, :before, :after{
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-border-default:1px solid rgb(var(--color-border-dark) / 8%);
  --color-text-1:#757575; 
  --color-text-2:#212121;
  --color-text-3:#002C5F;
  --color-text-4:#00AAD2;
  --color-text-5:#000000;
  --color-text-6:#002C5F;
  --color-text-7:#E84527;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
  --shadow-default:rgba(0, 0, 0, 0.21) 0px 3px 8px;
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
  --shadow-header:rgb(0 0 0 / 10%) 0px 5px 13px;
}



body, html{color:var(--color-text-1);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button, header{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-text-2); fill:var(--color-text-2);}
a:hover, button:hover{color:var(--color-text-3); fill:var(--color-text-3);}
.btn, a.btn, button.btn{background-color:var(--color-text-3); color:var(--bg-1) !important; fill:var(--bg-1) !important; border-radius:var(--rounded-1);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-text-4);}
.btn-outline{border-color:var(--bg-1); background-color:transparent !important;}
.btn-outline:hover{border-color:var(--color-text-4); background-color:var(--color-text-4) !important;}
#btt{position:fixed; bottom:var(--size-7); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 10000); width:40px; height:40px; background-color:var(--color-text-3); fill:var(--bg-1);
border-top-left-radius:var(--rounded-2); border-bottom-left-radius:var(--rounded-2);}
#btt:hover, #btt:focus{background-color:var(--color-text-4);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-text-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.section-title{color:var(--color-text-2); fill:var(--color-text-2);}



.box-a{background-color:var(--color-text-2);}
.box-a-frame:before{background:linear-gradient(to bottom, rgb(var(--color-border-dark) / 0%) 55%, rgb(var(--color-border-dark) / 55%) 100%);}
.box-a-frame:hover{opacity:0.55;}
.box-a-label, .box-a-title{color:var(--bg-1);}



header{background-color:var(--bg-1); box-shadow:var(--shadow-header);}
.header-link{color:var(--color-text-1); fill:var(--color-text-1); border-bottom-color:transparent;}
.header-link:hover, .header-box:hover > .header-link{color:var(--color-text-4) !important; fill:var(--color-text-4) !important; border-bottom-color:var(--color-text-4);}
.header-logo{fill:var(--color-text-6);}
.header-logo:hover{fill:var(--color-text-1);}
.header-sub > .width-max{display:grid;}
.header-sub .header-link{justify-content:flex-start; height:auto; border-bottom:0; padding:var(--size-3) var(--size-4);}
.header-sub .header-link svg{height:10px; margin-left:var(--size-2);}

.hmt-line{transition:var(--transition-default); background-color:var(--color-text-1);}
.header-menu-toggle.show-sticky .hmt-line{background-color:var(--color-text-7);}
.header-menu-toggle.show-sticky .hmt-line-1{transform:rotate(45deg); top:7px; left:0;}
.header-menu-toggle.show-sticky .hmt-line-2{transform:rotate(135deg);}
.header-menu-toggle.show-sticky .hmt-line-3{width:0;}

.header-transparent-active{background-color:transparent; box-shadow:0 0 0;}
.header-transparent-active .header-link, .header-transparent-active .header-logo{color:var(--bg-1); fill:var(--bg-1);}
.header-transparent-active .hmt-line{background-color:var(--bg-1);}
.header-transparent-active .header-sub .header-link{color:var(--color-text-1); fill:var(--color-text-1);}



.sfb-info{color:var(--bg-1);}



.slideshow-models .slide-button{fill:var(--color-text-2);}
.slideshow-models .slide-button:hover{fill:var(--color-text-4);}
.smb-car-frame:hover{opacity:0.55;}
.smb-info-date, .smb-info-data{color:var(--color-text-2);}
.smb-info-name{color:var(--color-text-4);}

.our-models-tab{background-color:var(--bg-2); border-radius:var(--size-4);}
.omt-button:hover{color:var(--color-text-4);}
.omt-button-curr{background-color:var(--bg-2) !important; border-radius:calc(var(--size-4) - 2px); color:var(--color-text-4) !important; box-shadow:var(--shadow-neumorp);}



footer{background-color:var(--color-text-2); color:var(--bg-1); fill:var(--bg-1); padding:var(--size-3) 0;}
footer .width-max{display:grid;}
.footer-box{padding:var(--size-4); display:grid; grid-auto-rows:min-content;}
.footer-label{display:block; margin-bottom:var(--size-1); color:var(--bg-1); font-weight:bold;}
.footer-link{color:var(--bg-2); fill:var(--color-text-1); font-weight:normal; display:block; padding:var(--size-1) 0;}
.footer-label:hover, .footer-link:hover{color:var(--color-text-4); fill:var(--color-text-4);}

.footer-box .logo-icon{width:auto; height:var(--size-6);}

.footer-socmed{display:flex;}
.footer-socmed svg{width:auto; height:var(--size-5);}



.rancak-popup, .rancak-popup-overlay, .rancak-popup-container{top:0; left:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:calc(var(--max-zindex) - 2000);}
.rancak-popup-overlay, .rancak-popup-container{position:absolute;}
.rancak-popup-overlay{z-index:1;}
.rancak-popup-container, .rancak-popup-box{padding:var(--size-4);}
.rancak-popup-box{position:relative; z-index:1000; width:100%; max-width:377px; background-color:var(--bg-1);
border-radius:var(--rounded-2); box-shadow:var(--shadow-default);}

.show-sticky{color:var(--color-text-7) !important; fill:var(--color-text-7) !important;}



.tns-outer [aria-controls], .tns-outer [data-action]{background-color:var(--bg-3);}
.tns-nav-active{background-color:var(--color-text-4) !important; width:var(--size-5) !important;}

.slide-button{fill:var(--bg-3);}
.slide-button:hover{fill:var(--color-text-4);}





@media screen and (min-width:0px) and (max-width:1023px){
  .header-link{border-bottom:0;}
    
  
  
  .omt-list{position:absolute; z-index:calc(var(--max-zindex) - 9000); top:calc(var(--size-6) + var(--size-1)); right:0; width:300px;
  background-color:var(--bg-2); border-radius:var(--size-4);}
  .omt-select-icon{transition:var(--transition-default);}
  .omt-selected-icon{transform:rotate(180deg);}
  .omt-button{width:100%;}
  
  

  #popup-Nav{top:var(--header-height); height:calc(100vh - var(--size-6)); height:calc(100svh - var(--size-6)); overflow-y:auto;
  background-color:var(--bg-1); box-shadow:var(--shadow-header);}
  #popup-Nav .nav-icon{display:flex; justify-content:flex-end;} 
  #popup-Nav .nav-icon .header-link{border-top:0;}
  #popup-Nav .nav-icon .header-lang{padding-right:var(--size-4);}
  #popup-Nav .nav-icon .header-search, .nav-icon .header-menu-toggle{display:none;}
  
  #popup-Nav .header-link{justify-content:flex-end; border-top:var(--color-border-default);}
  
  #popup-Nav .header-sub{background-color:rgb(var(--color-border-dark) / 3%);}
  #popup-Nav .header-sub .header-link{justify-content:flex-end; padding-right:var(--size-5);}
  #popup-Nav > *:last-child{border-bottom:var(--color-border-default);}
  
  
  
  .footer-socmed .footer-link{margin-right:var(--size-2);}
}





@media screen and (min-width:1024px){
  .header-box:hover > .header-sub{display:block;}
  
  
  
  .header-sub{position:fixed; z-index:calc(var(--max-zindex) - 5000); top:var(--header-height); left:0; width:100%; background-color:var(--bg-1); box-shadow:var(--shadow-header);
  padding:var(--size-4) 0;}
  
  
  
  footer .width-max{grid-template-columns:auto auto auto auto auto 1fr;}
  .footer-socmed{justify-content:flex-end;}
  .footer-socmed .footer-link{margin-left:var(--size-2);}
}
