*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1280px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:16px;
  --font-head:'Hyundai Sans Head','Montserrat',sans-serif;
  --header-height:64px;;
  --bg-1:#FFFFFF;
  --bg-2:#F6F3F2; 
  --bg-3:#E4DCD3;  
}



body, html{font-family:'Hyundai Sans Text','Montserrat',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.3px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1);}
body{overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); -webkit-appearance:none; font-weight:normal;
display:flex; text-align:center; align-items:center; justify-content:center;}
.btn-outline{border:1px solid;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.rancak-container{position:relative; min-height:100vh; min-height:100svh;}
.rancak-section{padding:var(--size-6) 0;}
.rancak-section .width-max{padding:0 var(--size-4); display:block;}
.section-title{padding:var(--size-4); padding-top:0;}
.section-title-primary, .section-title-secondary{text-align:center;}
.section-title-primary{font-weight:bold; font-size:40px; font-family:var(--font-head);}
.section-title-secondary{font-size:16px; line-height:140%; margin-top:var(--size-2);}



.default-radiobutton, .default-radiobutton :before{--radio-size:var(--size-4); position:relative;}
.default-radiobutton-real{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.default-radiobutton-dummy{position:relative; z-index:1; display:grid; grid-gap:var(--size-2); grid-template-columns:var(--radio-size) 1fr; align-items:center;}
.drd-circle{border:1px solid; width:var(--radio-size); height:var(--radio-size); padding:4px; position:relative; top:-2px;}
.drd-circle:before{content:''; display:block; width:100%; height:100%;}
.drd-label{display:flex; align-items:center;}

.default-field{position:relative;}
.default-field-box{position:relative; padding:var(--size-4); border:1px solid; width:100%; line-height:100%; height:64px;}
.default-field-selector + svg{position:absolute; z-index:1; top:28px; right:22px; width:auto; height:var(--size-2);}
.default-field-search{padding-right:var(--size-6);}
.default-field-search-button{position:absolute; z-index:2000; top:0; right:0; height:100%; padding:0 var(--size-4);}
.default-field-search-button svg{width:var(--size-3); height:auto;}




.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.box-a{position:relative;}
.box-a-frame{--aspect-ratio:1/1; position:relative; z-index:1; max-height:610px;}
.box-a-frame:before{position:relative; z-index:1000;}
.box-a-info{position:absolute; z-index:2000; bottom:0; left:0; display:grid;}
.box-a-title{font-family:var(--font-head); text-transform:uppercase; font-weight:bold;}
.box-a-gateway{display:flex; flex-wrap:wrap; margin-top:var(--size-1);}
.box-a-gateway .btn{margin-right:var(--size-2); margin-top:var(--size-2);}



.box-b{position:relative; min-height:233px;}
.box-b-title{font-family:var(--font-head);}

.box-b-color .box-b-container{padding:var(--size-4); display:grid; grid-gap:var(--size-3);}
.box-b-color .box-b-icon svg{width:auto; height:var(--size-6);}
.box-b-color .box-b-title{text-align:center; font-size:20px;}

.box-b-image .box-b-bg, .box-b-image .box-b-info{position:absolute; bottom:0; left:0; width:100%;}
.box-b-image .box-b-bg{z-index:1; height:100%;}
.box-b-image .flex_ori:before{position:relative; z-index:1000; height:100%;}
.box-b-image .box-b-info{z-index:2000; padding:var(--size-4); display:flex; justify-content:space-between; align-items:flex-end;}
.box-b-image .box-b-icon{line-height:0;}
.box-b-image .box-b-icon svg{width:auto; height:var(--size-5); margin-left:var(--size-3);}



.gridbox-a-container, .gridbox-b-container{display:grid; grid-gap:var(--size-2);}
.gridbox-b-container .box-b:first-child .box-b-title{font-size:30px;}



header{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 3000); top:0; left:0; width:100%;}
header > .width-max{display:flex; justify-content:space-between;}
.header-left, .header-right{display:flex;}
.header-link{padding:0 var(--size-3); height:var(--header-height); font-weight:400; border-bottom:3px solid;}
.header-link svg{width:auto; height:16px;}
.header-parent{display:flex; align-items:center;}
.header-parent svg{width:auto; height:var(--size-2); margin-left:var(--size-2);}
.header-box{position:relative;}
.header-logo{padding-left:var(--size-4); padding-right:var(--size-5);}
.header-logo svg{width:auto; height:var(--size-4);}



.gateway-bottom{margin-top:var(--size-3);}
.gateway-list{display:flex; flex-wrap:wrap; justify-content:center;}
.gateway-button{margin:var(--size-2) var(--size-2) 0;}



.slideshow-full{--slide-number:70px; display:block; position:relative; z-index:1;}
.slideshow-full-top{margin-top:calc(var(--header-height) * -1);}
.slideshow-full-box{position:relative; z-index:1;}
.slideshow-full .tns-nav{position:absolute; bottom:0; left:0; z-index:1000; width:100%;}
.slideshow-full video{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}

.sfb-container{position:relative; z-index:1;}
.sfb-frame{max-height:768px; position:relative; z-index:1;}
.sfb-info{position:absolute; z-index:1000; display:grid; grid-gap:var(--size-3);}
.sfb-info-title{font-weight:bold; font-family:var(--font-head);}
.sfb-info-gateway{display:flex;}



.slideshow-models{--slide-number:70px; display:block; position:relative; z-index:1; width:100%;}
.slideshow-full-box{position:relative; z-index:1;}
.slideshow-our-models .tns-nav{position:absolute; bottom:0; left:0; z-index:1000; width:100%;}
.slideshow-our-models video{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}

.our-models-tab{margin:0 var(--size-4) var(--size-3); position:relative;}
.omt-list{ padding:var(--size-1) !important;}
.omt-button{display:block; padding:var(--size-3) var(--size-4);}

.section-our-models .width-max{padding:0;}
.slideshow-models{display:grid; grid-template-columns:auto 1fr auto; margin-top:var(--size-4);}
.slideshow-models .tns-outer{display:grid;}
.slideshow-models .tns-nav{padding-bottom:0;}
.slideshow-models .slide-button{position:relative; grid-row:1/2;}
.slideshow-models .slide-button-next{grid-column:3/4;}
.slideshow-models .gateway-button{width:170px;}

.slideshow-models-box{position:relative; z-index:1; display:grid;}
.smb-car-frame{width:100%;}
.smb-car-frame:before{content: none;}
.smb-car-frame img{object-fit:contain; object-position:bottom center;}
.smb-info{display:grid; grid-gap:var(--size-4) var(--size-5); margin-top:var(--size-4);}
.smb-info-box{display:grid; grid-gap:var(--size-1);}
.smb-info-data{font-weight:bold;}
.smb-info-name{font-family:var(--font-head); font-weight:bold; text-transform:uppercase; font-size:36px; line-height:100%;}



.slideshow-news-update{position:relative;}
.snuc-box{position:relative;}
.snuc-frame{--aspect-ratio:1/1; position:relative; z-index:1;}
.snuc-frame:before{position:relative; z-index:1000;}
.snuc-info{position:absolute; z-index:1000; bottom:0; left:0; width:89%; padding:var(--size-4);}
.snuc-title{font-size:24px; font-weight:bold; font-family:var(--font-head);}



.find-dealer-label{font-weight:bold; font-family:var(--font-head); margin-bottom:var(--size-1);}
.find-dealer-choose{display:flex; flex-wrap:wrap;}
.find-dealer-select{display:grid; grid-gap:var(--size-3); grid-template-columns:repeat(auto-fit, minmax(180px,1fr));}
.find-dealer-select .default-field-box{z-index:1000;}



.model-cover{position:relative;}
.model-cover-frame{max-height:768px; position:relative; z-index:1;}
.model-cover-frame img{object-position:bottom center;}
.model-cover-title{position:absolute; z-index:1000; top:0; padding:var(--size-6); font-family:var(--font-head); font-weight:bold; font-size:40px;}
.model-cover-title-left{left:0; text-align:left;}
.model-cover-title-right{right:0; text-align:right;}
.model-cover-info{position:absolute; z-index:2000; bottom:0; left:0; width:100%; padding:var(--size-5);}
.model-cover-info-container{display:inline-grid;}
.mcic-data{font-weight:bold;}



.model-menu{--button-height:40px; position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 4000); top:var(--header-height);}
.model-menu .width-max{display:grid; grid-gap:var(--size-3);}
.model-menu-name{font-weight:bold; text-transform:uppercase; font-family:var(--font-head);}
.mml-link{font-weight:normal;}
.model-menu-action{display:flex; align-items:center;}
.mma-link{padding:0 var(--size-3); height:var(--button-height); border:1px solid;}



.best-deal-container{--circle-size:var(--size-7); display:grid; grid-gap:var(--circle-size) var(--size-4); grid-template-columns:repeat(auto-fit, minmax(240px,1fr)); 
margin-top:calc((var(--circle-size) / 2) + var(--size-4))}
.bdc-box{position:relative; padding:var(--size-4);}
.bdc-icon{margin-top:calc(((var(--circle-size) / 2) * -1) - var(--size-1));}
.bdc-icon-circle{width:var(--circle-size); height:var(--circle-size);}
.bdc-icon-circle svg{width:auto; height:var(--size-5);}
.bdc-title, .bdc-desc{text-align:center;}
.bdc-title{font-weight:bold; font-family:var(--font-head); font-size:24px; margin-top:var(--size-4);}
.bdc-desc{line-height:140%; margin-top:var(--size-2);}



.slideshow-hyundai-smartsense{position:relative;}
.shsc-box{position:relative;}
.shsc-frame{--aspect-ratio:16/9; position:relative; z-index:1;}
.shsc-frame:before{position:relative; z-index:1000;}
.shsc-info{padding:var(--size-4) 0;}
.shsc-title{font-size:24px; font-weight:bold; font-family:var(--font-head);}
.shsc-desc{line-height:140%; margin-top:var(--size-2);}




@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  .section-title-primary{font-size:30px;}
  .section-title-secondary{font-size:14px;}
  
  
  
  .box-a-info{padding:var(--size-4);}
  .box-a-title{font-size:24px;}
  
  
  
  .gridbox-a .width-max, .gridbox-b .width-max{padding:0;}
  
  @media screen and (min-width:640px){
    .gridbox-b-container{grid-template-columns:repeat(2,1fr); padding:0 var(--size-4);}
	.gridbox-b-container .box-b:first-child{grid-column:1/3;}
  }
  
  
  
  .header-menu-toggle{padding-right:var(--size-4); position:relative;}
  .hmt-box{--line-width:19px; width:var(--line-width); height:16px; position:relative;}
  .hmt-line{position:absolute; z-index:10; right:0; height:2px;}
  .hmt-line-1{width:var(--line-width); top:1px;}
  .hmt-line-2{width:var(--line-width); top:7px;}
  .hmt-line-3{width:var(--size-3); top:13px;}
  
  
  
  .sfb-frame{--aspect-ratio:9/16;}
  .sfb-info{bottom:var(--size-7); left:var(--size-5); width:calc(100% - calc(var(--size-5) * 2)); max-width:calc(var(--size-5) * 9);}
  .sfb-info-label{font-size:14px; line-height:140%;}
  .sfb-info-title{font-size:24px; line-height:120%;}
  
  
  
  .omt-list{display:none;}
  .omt-select{display:flex; justify-content:space-between; width:100%;}
  .omt-select-inside{display:flex; align-items:center; height:var(--size-6); padding:0 var(--size-4);}
  
  .smb-car-frame{height:120px;}
  
  @media screen and (min-width:640px){
    .smb-info{grid-template-columns:1fr 1fr;}
	.smb-info-main{grid-column:1/3;}
  }
  
  
  
  .section-news-update .width-max{padding:0;}
  
  
  
  .find-dealer-choose{margin-bottom:var(--size-4);}
  .find-dealer-radiobutton{margin-right:var(--size-4); margin-top:var(--size-4);}
  
  
  
  .model-cover-frame{--aspect-ratio:9/16;}
  .model-cover-title{width:100%; text-align:center; padding:var(--size-4);}
  .model-cover-info{padding:var(--size-4);}
  .model-cover-info-container{grid-template-columns:repeat(auto-fit, minmax(140px,1fr)); grid-gap:var(--size-4); width:100%;}
  
  
  
  .model-menu .width-max{grid-template-columns:1fr auto; padding:var(--size-4);}
  .model-menu-name, .model-menu-list{grid-column:1/3;}
  .model-menu-name{justify-content:flex-start;}
  .model-menu-list{grid-row:3/4; display:none;}
  .mml-link{display:block; padding:var(--size-3) 0; border-top:1px dashed;}
  .mml-link:first-child{border-top:0;}
  .mma-link{margin-right:var(--size-3);}
  .model-menu-toggle .mma-link{margin-right:0;}
}





@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  
  
  
  .box-a-info{padding:var(--size-5);}
  .box-a-title{font-size:30px;}
  
  
  
  .gridbox-a-container{grid-template-columns:1fr 1fr;}
  .gridbox-a-container .box-a:first-child{grid-column:1/3;}
  
  .gridbox-b-container{grid-template-columns:repeat(3,1fr);}
  .gridbox-b-container .box-b:first-child{grid-row:1/3;}
  
  
  
  .header-search{padding-right:var(--size-4);}
  
  
  
  .sfb-frame{--aspect-ratio:16/9;}
  .sfb-info{bottom:var(--slide-number); left:var(--slide-number); width:calc(100% - calc(var(--slide-number) * 2)); max-width:calc(var(--slide-number) * 9);}
  .sfb-info-label{font-size:16px; line-height:140%;}
  .sfb-info-title{font-size:40px; line-height:120%;}
  
  
  
  .smb-car-frame{height:300px;}
  .smb-info{display:inline-grid; width:100%; grid-template-columns:repeat(5, auto); justify-content:center; align-items:flex-end;}
  
  
  
  .our-models-tab{margin-bottom:var(--size-5);}
  .omt-list{display:grid !important; grid-template-columns:repeat(auto-fit, minmax(144px,1fr)); height:auto !important;}
  .omt-button{text-align:center;}
  
  
  
  .find-dealder-list{display:grid; grid-template-columns:auto 1fr; align-items:center;}
  .find-dealer-radiobutton{margin-right:var(--size-4); margin-bottom:0;}
  .find-dealer-select{grid-gap:var(--size-4);}
  
  
  
  .model-cover-frame{--aspect-ratio:16/9;}
  .model-cover-info-container{grid-auto-flow:column; grid-gap:var(--size-5);}
  .mcic-label{font-size:16px;}
  .mcic-data{font-size:24px;}
  
  
  
  .model-menu .width-max{grid-template-columns:auto 1fr auto; padding:var(--size-3) var(--size-4);}
  .model-menu-list{display:flex !important; flex-wrap:wrap; margin:0 auto; min-height:var(--button-height) !important;}
  .mml-link{display:flex; align-items:center; padding:var(--size-2) var(--size-3);}
  .mma-link{margin-left:var(--size-3);}
}
