*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --color-default:#252627;
  --color-border:#ABABAB;
  --bg-grey:#F6F6F6;
  --bg-black:#1D1E20;
  --bg-white:#FFFFFF;
}



body, html{font-family:Nobel,Arial,sans-serif; font-size:1.2vw; font-weight:300; letter-spacing:0.05vw; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-white);}
body{overflow-x:hidden; color:var(--color-default); fill:var(--color-default); 
background-image:url(img/logo-icon.svg); background-position:center; background-repeat:no-repeat; background-size:90% auto;}
body::-webkit-scrollbar{width:0px;}
.input-result{text-transform:uppercase;}