.rancak-container{padding:6.8vw 4.7vw;}



.logo-box{padding:0 2.75vw; margin-bottom:3.8vw;}
.logo-box svg{width:17vw; height:auto;}



.mainform-head{height:4.6vw;}
.mainform-row, .mainform-box{display:grid;}
.mainform-box{padding:1vw 1.5vw 0;}
.mainform-subtitle{background-color:var(--bg-grey); padding:0.2vw 2vw; font-size:1.3vw;}



.mainform-type1{grid-gap:0.45vw;}
.mainform-type1 .mainform-row{grid-template-columns:22.9vw 1vw 1fr;}
.mainform-type1 .mainform-data{border-bottom:1px solid var(--color-border); height:1.9vw;}

.mainform-type1 .mainform-multipleline{--linesize:2.1vw; line-height:var(--linesize);}
.mainform-type1 .mainform-multipleline .mainform-data{border-bottom:0; height:calc(var(--linesize) * 2); background-size: 100% var(--linesize); background-position:top left;
background-image:-webkit-linear-gradient(top, transparent, transparent calc(var(--linesize) - 1px), var(--color-border) 0);}



.mainform-type2{position:relative;}
.mainform-document{list-style:upper-roman; display:grid; grid-template-columns:repeat(2,1fr); padding:0.6vw 0; grid-gap:0 2vw;}
.mainform-document > li{grid-column:1/3; margin-left:2vw;}
.mainform-document > li::marker{font-weight:bold;}
.mainform-document > .mainform-document-left{grid-column:1/2;}
.mainform-document > .mainform-document-right{grid-column:2/3;}
.mainform-document > .mainform-skipnumber{list-style:none; margin-left:0; margin-top:0.5vw; margin-bottom:0.5vw;}
.mainform-document > li > ol{list-style:decimal; padding-left:1vw; display:grid; grid-gap:0.3vw;}

.mds-row, .mds-container{display:grid;}
.mds-row{grid-template-columns:1fr auto auto; grid-gap:1.2vw; align-items:center;}
.mds-container{grid-template-columns:repeat(2,1fr); grid-gap:0.3vw;}
.mds-box{border:1px solid var(--color-border); padding:0.2vw;}
.mds-box-frame{width:5.5vw; height:1.7vw; position:relative;}
.mds-box-frame img{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:contain; object-position:center;}

.custom-plate-list{grid-gap:0.5vw !important; margin-top:0.5vw; grid-auto-rows:min-content; max-width:26vw;}
.custom-plate-list li{border-bottom:1px solid var(--color-border); height:1.9vw;}

.custom-plate-by{padding-left:0 !important; margin-top:0.5vw;}
.cpb-column{display:flex;}
.cpb-label{width:5vw; margin-right:1vw;}
.cpb-box{border:1px solid var(--color-border); width:5vw; height:2.2vw; display:flex; justify-content:center; align-items:center;}
.cpb-box svg{width:auto; height:1.8vw; opacity:0;}
.cpb-column[aria-choice="this"] .cpb-box svg{opacity:1;}


