*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



body, html{font-family:Nobel,Arial,sans-serif; font-size:1.2vw; font-weight:300; letter-spacing:0.1vw; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:#FFFFFF;}
body{overflow-x:hidden; color:#252627;}
body::-webkit-scrollbar{width:0px;}




.rancak-container{display:flex; justify-content:center;}
.rancak-form{position:relative;}
.rancak-form-bg{position:relative; z-index:1; width:100vw;}
.rancak-form-input{position:absolute; z-index:1000; text-transform:uppercase; line-height:2vw; overflow:hidden;}

.rancak-form-yesno{display:flex;}
.rancak-form-checklist{opacity:0;}
.rancak-form-checklist[aria-label="Yes"]{margin-right:3.6vw;}
.rancak-form-checklist svg{width:auto; height:1.5vw;}
.rancak-form-yesno[aria-choice="Yes"] .rancak-form-checklist[aria-label="Yes"],
.rancak-form-yesno[aria-choice="No"] .rancak-form-checklist[aria-label="No"],
.rancak-form-yesno[aria-choice="opt1"] .rancak-form-checklist[aria-label="opt1"],
.rancak-form-yesno[aria-choice="opt2"] .rancak-form-checklist[aria-label="opt2"]{opacity:1;}

.rancak-form-checklist[aria-label="opt1"]{margin-right:7vw;}
.rancak-form-checklist-note{margin-left:7.8vw; position:relative; top:-0.2vw; width:10vw;}

.rancak-form-updown{display:grid; grid-gap:0.4vw;}
.rancak-form-updown > div{margin:0 !important; width:5.7vw; height:2vw; display:flex; justify-content:center;}
.rancak-form-updown svg{width:1.5vw; height:auto;}

.rancak-form-npwp{display:grid; grid-gap:0.1vw; grid-auto-flow:column; letter-spacing:0vw;}
.rancak-form-npwp-box{width:1.2vw; text-align:center;}
.rancak-form-npwp-box:nth-child(2), .rancak-form-npwp-box:nth-child(5), .rancak-form-npwp-box:nth-child(8),
.rancak-form-npwp-box:nth-child(9), .rancak-form-npwp-box:nth-child(12){margin-right:1.2vw;}
.rancak-form-npwp-box:nth-child(1), .rancak-form-npwp-box:nth-child(3),
.rancak-form-npwp-box:nth-child(6), .rancak-form-npwp-box:nth-child(9),
.rancak-form-npwp-box:nth-child(12), .rancak-form-npwp-box:nth-child(14){width:1vw;}

.rancak-form-phone{display:grid; grid-gap:1.15vw; grid-template-columns:6vw 1fr;}

.rancak-form-cartype{display:grid; grid-gap:2.8vw; grid-template-columns:1fr 3.8vw;}

.rancak-form-lop{display:grid; grid-gap:0.5vw;}
.rancak-form-lop .rancak-form-checklist{display:flex;}
.rancak-form-lop .rancak-form-checklist[aria-check="yes"]{opacity:1;}
.rancak-form-lop-pgf{margin-left:9.5vw; line-height:1.7vw; font-weight:normal;}

.rancak-form-otr{text-transform:none; font-size:1.1vw; text-align:center;}

.rancak-form-choosepayment{display:flex;}
.rancak-form-choosepayment .rancak-form-checklist[aria-label="Cash"]{margin-right:3.2vw;}
.rancak-form-choosepayment .rancak-form-checklist[aria-label="Lease"]{display:grid; grid-gap:4.5vw; grid-template-columns:auto 12.5vw;}
.rancak-form-choosepayment .rancak-form-checklist[aria-label="Lease"] span{line-height:1.5vw;}
.rancak-form-choosepayment[aria-choice="Cash"] .rancak-form-checklist[aria-label="Cash"],
.rancak-form-choosepayment[aria-choice="Lease"] .rancak-form-checklist[aria-label="Lease"]{opacity:1;}

.rancak-form-signature{position:absolute; z-index:1000; line-height:0; overflow:hidden; display:grid; grid-auto-flow:column;}
.rancak-form-signature-box{position:relative;}
.rancak-form-signature-box img{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:contain;}

.rancak-form-signature-menteng{grid-gap:1.7vw;}
.rancak-form-signature-menteng .rancak-form-signature-box{width:8.9vw; height:8.0vw;}

.rancak-form-signature-mampang, .rancak-form-signature-pluit{grid-gap:2.7vw;}
.rancak-form-signature-mampang .rancak-form-signature-box, .rancak-form-signature-pluit .rancak-form-signature-box{width:10.9vw; height:6.6vw;}





.rancak-form-stnk-bpkb .rancak-form-input{line-height:2.3vw; max-width:62.8vw;}

.rancak-form-doclist, .rfdl-column{display:grid; grid-template-columns:repeat(2,1fr);}
.rancak-form-doclist{grid-gap:1.3vw;}
.rfdl-column{grid-gap:0.4vw;}
.rfdl-box{width:5.8vw; height:2vw; position:relative; display:flex; align-items:center; justify-content:center; font-size:0.8vw;}
.rfdl-box img{position:absolute; top:0; left:0; width:100%; height:100%; object-fit:contain;}

.rancak-form-signature-3{position:absolute; z-index:1000; display:grid; grid-gap:0 1.5vw; grid-template-columns:repeat(3,1fr); font-size:1vw;}
.rancak-form-signature-3 .rancak-form-signature-box{width:13.0vw; height:7.8vw;}
.rancak-form-signature-3 .rancak-form-signature-name, .rancak-form-signature-3 .rancak-form-signature-date{padding-left:3.7vw; font-size:0.9vw;}
.rancak-form-signature-3 .rancak-form-signature-name{margin:1.1vw 0;}

.rancak-form-signature-4{position:absolute; z-index:1000; display:grid; grid-gap:2.4vw 1.8vw; grid-template-columns:repeat(2,1fr); font-size:1vw;}
.rancak-form-signature-box{width:19.3vw; height:5.4vw;}
.rancak-form-signature-name, .rancak-form-signature-date{padding-left:2.5vw;}
.rancak-form-signature-name{margin:0.5vw 0;}



.rancak-form-term{font-size:0.8vw; padding:0.6vw 1.3vw; text-transform:none; letter-spacing:0; line-height:130%;}
.rft-title{font-weight:bold; text-transform:uppercase;}
.rft-list{padding-left:3.2vw;}
.rft-list ul{padding-left:1vw;}
.rft-square{list-style:square;}
.rft-number{list-style:decimal;}
.rft-letterlow{list-style:lower-alpha;}
.rft-letterup{list-style:upper-alpha;}
